.text-red{
    color:red;
}
.tab {
    margin-right:6px;
}
ol {
    text-align: center;
    list-style-position: inside;
}
.text-blue{
    color:blue;
}
.text-yellow{
    color:yellow;
}
.image-size{
   width: 200px;
   height: 200px;
}